// Bootstrap Dropdown
$dropdown-min-width: 8rem;
$dropdown-font-size: 0.8rem;
$dropdown-link-color: $black;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $secondary-color;
$dropdown-link-active-color: $white;
$dropdown-link-active-bg: $secondary-color;
