// Bootstrap Navbar
$navbar-light-color: $black;
$navbar-light-hover-color: $primary-color;
$navbar-light-active-color: $indigo;
$navbar-toggler-padding-y: 0.25rem;
$navbar-toggler-padding-x: 0.25rem;
$navbar-light-toggler-icon-bg: none;
